flix.ditchworld.com {
    handle /download* {
        reverse_proxy torrent-search:8001 {
            header_up Host {http.request.host}
            header_up X-Real-IP {http.request.remote.host}
            header_up X-Forwarded-For {http.request.remote.host}
            header_up X-Forwarded-Proto {http.request.scheme}
        }
        header Access-Control-Allow-Origin "*"
        header Access-Control-Allow-Methods "GET, POST, OPTIONS"
        header Access-Control-Allow-Headers "Content-Type"
    }

    handle {
        reverse_proxy jellyfin:8096 {
            header_up Host {http.request.host}
            header_up X-Forwarded-Proto {http.request.scheme}
        }
    }
}